GEMINI_API_KEY=
GROQ_BASE_URL=

# Groq Model Configuration
GROQ_MODEL_PLANNING=openai/gpt-oss-safeguard-20b
GROQ_MODEL_WRITER=groq/compound
GROQ_MODEL_REVIEW=openai/gpt-oss-20b
GROQ_MODEL_IMPROVEMENT=qwen/qwen3-32b
GROQ_MODEL_DEFAULT=llama-3.3-70b-versatile